<nav>
    <a href="/" class="nav-button {{ if .IsHome }}active{{ end }}">Home</a>
    {{ range .Site.Menus.main }}
        {{ if not (or (eq .Name "Twitter") (eq .Name "LinkedIn")) }}
            <a href="{{ .URL }}" class="nav-button {{ if $.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
        {{ end }}
    {{ end }}
    <a href="https://x.com/iobyleon" class="nav-button" target="_blank">Twitter</a>
    <a href="https://www.linkedin.com/in/leonkaushik" class="nav-button" target="_blank">LinkedIn</a>
</nav>
