<<nav>
    <a href="/" class="nav-button {{ if eq .URL "/" }}active{{ end }}">Home</a>
    <a href="/blog/" class="nav-button {{ if eq .URL "/blog/" }}active{{ end }}">Blog</a>
    <a href="/booknotes/" class="nav-button {{ if eq .URL "/booknotes/" }}active{{ end }}">Book Notes</a>
    <a href="/projects/" class="nav-button {{ if eq .URL "/projects/" }}active{{ end }}">Projects</a>
    <a href="/digital/" class="nav-button {{ if eq .URL "/digital/" }}active{{ end }}">Digital</a>
    <a href="/podcast/" class="nav-button {{ if eq .URL "/podcast/" }}active{{ end }}">Podcast</a>
    <a href="/quotes/" class="nav-button {{ if eq .URL "/quotes/" }}active{{ end }}">Quotes</a>
    <a href="/lenscape/" class="nav-button {{ if eq .URL "/lenscape/" }}active{{ end }}">Lenscape</a>
    <a href="/bio/" class="nav-button {{ if eq .URL "/bio/" }}active{{ end }}">Bio</a>
    <a href="https://x.com/iobyleon" class="nav-button" target="_blank">Twitter</a>
    <a href="https://www.linkedin.com/in/leonkaushik" class="nav-button" target="_blank">LinkedIn</a>
</nav>

